<div class="col-1">
  <h1>Angular placeholder databinding demo</h1>
</div>
<div [formGroup]="values" class="form">
  <div class="col-1">
  <p>Enter values below to dynamically update placeholders in HTML from a backend.</p>
  <md-input-container dividerColor="accent" floatPlaceholder="always">
    <input mdInput placeholder="Enter a name" formControlName="name">
  </md-input-container>
  <md-input-container dividerColor="accent" floatPlaceholder="always">
    <input mdInput placeholder="Enter a location" formControlName="location" id="location">
  </md-input-container>
  </div>
</div>
<div class="col-1">
  <h2>Preview:</h2>
  <div [innerHTML]="dynamic | async | safeHtml"></div>
</div>
